@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #191a23;
  --green: #b9ff66;
  --dark: #191a23;
  --gray: #f3f3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--green);
  --color-dark: var(--dark);
  --color-gray: var(--gray);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191a23;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.app-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .app-container {
    padding: 0 100px;
  }
}
